spring:
  application:
    name: ai_gen_web_backend
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ai_gen_web
    username: root
    password: 123456
server:
  port: 8123
  servlet:
    context-path: /api

# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.miao.ai_gen_web.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn

